.black_b, .yellow_b{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    border: 2px solid black;

}

.black_b{
    color: white;
    background-color: black;
}

.yellow_b{
    background-color: yellow;
}